// Colors
$white-color-1: #fff;
$white-color-2: #efefef;
$white-color-3: #f3f3f3;
$white-color-4: #f4f4f4;

$hover-blue-color-1: #0f89e2de;
$blue-color-2: #0071c5;
$blue-color-3: #35a2f2;
$blue-color-4: #00a2d5;

$red-color-1: #ca3030;
$pinterest-color: #c8232c;

$black-color-1: #343434;
$black-color-2: #181818;
$black-color-3: #000000a6;
$black-color-4: #343434;

$gray-color-1: #333;
$gray-color-2: #373737;
$gray-color-3: #6c6c6c;


// Media Queries Breakpoints
$desktop-lg-width: 1920px;
$desktop-md-width: 1440px;
$desktop-width: 1281px;
$laptop-width: 1025px;
$tablet-width: 768px;
$tablet-mobile-width: 481px;
$semi-mobile-width: 740px;
$mobile-width: 320px;



// Header
$header-height: 50px;
$menu-btn-size: 25px;


// Footer
$footer-height: 50px;


// Blog
$bread-crumb-section-height: 50px;
$blog-dot-size: 15px;
$blog-arrow-section-height: 300px;
$blog-arrow-size: 25px;


// Sites - Worldwide Stories
$wws-down-holder-size: 53px;
$wws-arrow-down-size: 15px;
$wws-arrow-border-style: 3px solid white;
$wws-input-text-size: 1.25em;