#minimal-layout-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  #minimal-layout-container .bread-crumbs-holder {
    display: flex;
    align-items: center;
    width: 100px; }
    #minimal-layout-container .bread-crumbs-holder ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    #minimal-layout-container .bread-crumbs-holder li {
      width: 100px;
      padding: 10px 0px;
      cursor: pointer; }
    #minimal-layout-container .bread-crumbs-holder .bread-crumb {
      float: right;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: #000; }
    #minimal-layout-container .bread-crumbs-holder .crumb-line {
      height: 1px;
      width: 0;
      position: absolute;
      left: 0;
      margin-top: 2px;
      background-color: #000; }
    #minimal-layout-container .bread-crumbs-holder .crumb-line.active {
      width: 100px; }
  #minimal-layout-container .content-holder,
  #minimal-layout-container .bread-crumbs-holder {
    float: left;
    height: calc(100% - 50px);
    margin-top: 50px; }
  #minimal-layout-container .content-holder {
    width: calc(100% - 100px);
    overflow: auto;
    /* Temporary */ }
    #minimal-layout-container .content-holder .content-wrapper {
      display: flex;
      align-items: center;
      height: 100%; }
    #minimal-layout-container .content-holder section {
      width: 100%;
      padding: 0 8%; }
      #minimal-layout-container .content-holder section a {
        color: inherit;
        text-decoration: none; }
      #minimal-layout-container .content-holder section h2 {
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
        margin: 0; }
      #minimal-layout-container .content-holder section img {
        height: calc(100% - 48px);
        width: 100%; }

/* Mobile */
@media only screen and (max-device-width: 740px) {
  #minimal-layout-container .bread-crumbs-holder {
    display: none; }
  #minimal-layout-container .content-holder {
    width: 100%; } }

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #minimal-layout-container .bread-crumbs-holder {
    display: none; }
  #minimal-layout-container .content-holder {
    width: 100%; } }
