@font-face {
  font-family: bpreplay;
  src: url("/fonts/luxotus/BPreplayExtended.otf");
  font-weight: normal; }

#top-nav-bar {
  display: none; }

#luxotus-blog-container {
  height: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: bpreplay;
  /* General */
  /* Nav */
  /* Search Bar */
  /* Social */
  /* Main wrapper */
  /* Articles */
  /* Mini Articles */ }
  #luxotus-blog-container .justify-content-end {
    justify-content: flex-end !important; }
  #luxotus-blog-container .justify-content-center {
    justify-content: center !important; }
  #luxotus-blog-container .text-center {
    text-align: center; }
  #luxotus-blog-container a {
    color: #212529;
    text-decoration: none; }
  #luxotus-blog-container .nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  #luxotus-blog-container .nav_holder {
    display: flex;
    flex-wrap: wrap; }
  #luxotus-blog-container .nav_bar {
    height: 80px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  #luxotus-blog-container .nav_bar .row {
    height: 100%; }
  #luxotus-blog-container .nav_main {
    float: left;
    flex: 0 0 56%;
    max-width: 56%;
    padding: 0 15px; }
  #luxotus-blog-container .nav_logo {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    float: left;
    padding-left: 25px;
    line-height: 80px;
    font-size: 1.5em;
    font-weight: 500; }
  #luxotus-blog-container .nav_logo a {
    color: #686868; }
  #luxotus-blog-container .nav_logo span {
    color: #00a6d8; }
  #luxotus-blog-container .nav-link.active {
    color: #008cb6; }
  #luxotus-blog-container .nav-link {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
    color: #686868; }
  #luxotus-blog-container .nav-link:not(.active):hover {
    color: #008cb6; }
  #luxotus-blog-container .nav-link.active:hover {
    opacity: .5; }
  #luxotus-blog-container .search_holder {
    display: none;
    background-color: #191c1e; }
  #luxotus-blog-container .search-input-wrapper {
    float: left;
    width: 60%;
    margin-left: 150px; }
  #luxotus-blog-container #search_input {
    width: 100%;
    outline: none; }
  #luxotus-blog-container .search_holder .form-group {
    margin-bottom: 0; }
  #luxotus-blog-container .search_holder .form-control,
  #luxotus-blog-container .search_holder .form-control:focus {
    min-height: 60px;
    border: none;
    margin-top: 11.5px;
    color: #fff;
    background-color: #191c1e;
    font-size: 1.5em; }
  #luxotus-blog-container .search_holder .nav_logo a {
    color: #fff; }
  #luxotus-blog-container .close {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 25px;
    float: left;
    cursor: pointer; }
  #luxotus-blog-container .close:hover::before,
  #luxotus-blog-container .close:hover::after {
    background: #00a6d8; }
  #luxotus-blog-container .close::before, #luxotus-blog-container .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff; }
  #luxotus-blog-container .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #luxotus-blog-container .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #luxotus-blog-container .close.thick::before, #luxotus-blog-container .close.thick::after {
    height: 4px;
    margin-top: -2px; }
  #luxotus-blog-container .close.rounded::before, #luxotus-blog-container .close.rounded::after {
    border-radius: 5px; }
  #luxotus-blog-container .social_container {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 15px; }
  #luxotus-blog-container .social_container .nav {
    width: 100%; }
  #luxotus-blog-container .social_container .nav-item {
    width: 20%; }
  #luxotus-blog-container .main-blog-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px; }
  #luxotus-blog-container .main_title {
    color: #575757; }
  #luxotus-blog-container .main_title h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    text-transform: capitalize; }
  #luxotus-blog-container .main_overlay {
    position: fixed;
    z-index: 2;
    display: none;
    height: calc(100vh - 80px);
    width: calc(100% + 30px);
    margin-top: 0px;
    margin-left: -15px;
    background-color: #000;
    opacity: 0.5; }
  #luxotus-blog-container .highlight_bar {
    height: 2px;
    width: 100px;
    margin-left: calc(50% - 50px);
    border-radius: 2px;
    background-color: #00a6d8; }
  #luxotus-blog-container .article_container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px; }
  #luxotus-blog-container .mini_article_item {
    width: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff; }
  #luxotus-blog-container .mini_article_container {
    position: relative;
    margin-bottom: 25px;
    width: 30.833%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
    #luxotus-blog-container .mini_article_container h5 {
      margin-top: 0;
      margin-bottom: .5rem;
      font-size: 1.25rem;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.2;
      color: inherit; }
  #luxotus-blog-container .mini_article_image {
    height: 200px;
    width: 100%;
    background-size: cover; }
  #luxotus-blog-container .mini_article_image[data-image="02"] {
    background-image: url("/images/sites/luxotus/example_07.jpg"); }
  #luxotus-blog-container .mini_article_image[data-image="03"] {
    background-image: url("/images/sites/luxotus/example_08.jpg"); }
  #luxotus-blog-container .mini_article_image[data-image="04"] {
    background-image: url("/images/sites/luxotus/example_02.jpg"); }
  #luxotus-blog-container .mini_article_image[data-image="05"] {
    background-image: url("/images/sites/luxotus/example_03.jpg"); }
  #luxotus-blog-container .mini_article_image[data-image="06"] {
    background-image: url("/images/sites/luxotus/example_04.jpg"); }
  #luxotus-blog-container .mini_article_description {
    padding: 25px;
    padding-bottom: 0px; }
  #luxotus-blog-container .mini_article_description p {
    font-size: 15px;
    color: #747474; }
  #luxotus-blog-container .mini_article_footer {
    display: inline-block;
    padding-left: 25px; }
  #luxotus-blog-container .mini_article_footer a {
    margin-bottom: 0px;
    float: left;
    color: #008cb6;
    text-transform: capitalize; }
  #luxotus-blog-container .mini_article_footer span {
    float: left;
    display: block;
    height: 2px;
    width: 2px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #008cb6;
    border-radius: 50%; }
  #luxotus-blog-container .mini_article_date {
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 12px;
    color: #bababa; }

@media (min-width: 1200px) {
  #luxotus-blog-container .article_container {
    max-width: 1200px; } }
