@font-face {
  font-family: bpreplay;
  src: url("/fonts/luxotus/BPreplayExtended.otf");
  font-weight: normal; }

#luxotus-blog-container {
  height: 100%;
  padding-top: 50px;
  font-family: bpreplay;
  /* Nav */
  /* Search Bar */
  /* Social */ }
  #luxotus-blog-container a {
    text-decoration: none; }
  #luxotus-blog-container .nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  #luxotus-blog-container .nav_holder {
    display: flex;
    flex-wrap: wrap; }
  #luxotus-blog-container .nav_bar {
    height: 80px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  #luxotus-blog-container .nav_bar .row {
    height: 100%; }
  #luxotus-blog-container .nav_main {
    float: left;
    flex: 0 0 56%;
    max-width: 56%;
    padding: 0 15px; }
  #luxotus-blog-container .nav_logo {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    float: left;
    padding-left: 25px;
    line-height: 80px;
    font-size: 1.5em;
    font-weight: 500; }
  #luxotus-blog-container .nav_logo a {
    color: #686868; }
  #luxotus-blog-container .nav_logo span {
    color: #00a6d8; }
  #luxotus-blog-container .nav-link.active {
    color: #00c3c3; }
  #luxotus-blog-container .nav-link {
    display: table-cell;
    height: 80px;
    padding: 0 1rem;
    vertical-align: middle;
    color: #686868; }
  #luxotus-blog-container .nav-link:not(.active):hover {
    color: #008cb6;
    opacity: .5; }
  #luxotus-blog-container .nav-link.active:hover {
    opacity: .5; }
  #luxotus-blog-container .search_holder {
    display: none;
    background-color: #191c1e; }
  #luxotus-blog-container .search-input-wrapper {
    float: left;
    width: 60%;
    margin-left: 150px; }
  #luxotus-blog-container #search_input {
    width: 100%;
    outline: none; }
  #luxotus-blog-container .search_holder .form-group {
    margin-bottom: 0; }
  #luxotus-blog-container .search_holder .form-control,
  #luxotus-blog-container .search_holder .form-control:focus {
    min-height: 60px;
    border: none;
    margin-top: 11.5px;
    color: #fff;
    background-color: #191c1e;
    font-size: 1.5em; }
  #luxotus-blog-container .search_holder .nav_logo a {
    color: #fff; }
  #luxotus-blog-container .close {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 25px;
    float: left;
    cursor: pointer; }
  #luxotus-blog-container .close:hover::before,
  #luxotus-blog-container .close:hover::after {
    background: #00a6d8; }
  #luxotus-blog-container .close::before, #luxotus-blog-container .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff; }
  #luxotus-blog-container .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #luxotus-blog-container .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #luxotus-blog-container .close.thick::before, #luxotus-blog-container .close.thick::after {
    height: 4px;
    margin-top: -2px; }
  #luxotus-blog-container .close.rounded::before, #luxotus-blog-container .close.rounded::after {
    border-radius: 5px; }
  #luxotus-blog-container .social_container {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 15px; }
  #luxotus-blog-container .social_container .nav {
    width: 100%; }
  #luxotus-blog-container .social_container .nav-item {
    width: 20%; }
  #luxotus-blog-container .justify-content-end {
    justify-content: flex-end !important; }
