#menu-btn-container {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 2%;
  cursor: pointer;

  div {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
}

.menu-close {
  div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-3px, 6px);
    transform: rotate(-45deg) translate(-3px, 6px);
  }
  div:nth-child(2) {
    opacity: 0;
  }
  div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-4px, -7px);
    transform: rotate(45deg) translate(-4px, -7px);
  }
}