$menu-color: #fff;
$border-color: #efefef;
$overlay-color: #000;

 #menu-side-wrapper {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: $overlay-color;
  opacity: .5;
  transition-duration: 1s;
 }

 .open-menu #menu-side-wrapper {
  cursor: pointer;
  width: calc(100vw - 250px);
  transition-duration: 1s;
 }

.menu-container {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 250px;
  border-left: solid 1px $border-color;
  background-color: $menu-color;
  transition-duration: 1s;
  transform: translateX(250px);

  ul {
    margin-top: 35px;
    padding-top: 60%;
    padding-left: 30px;
    list-style: none;
  }

  li a {
    font-size: 2em;
    line-height: 2em;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: #373737;
  }

  a:hover {
    color: #0f89e2de;
  }
}

.open-menu .menu-container {
  transition-duration: 1s;
  transform: translateX(0px);
}

.icon-container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;

  a {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.75em;
  }
}

/* Portrait */
@media only screen and (max-device-width: 740px) and (orientation: portrait) {
  .menu-container ul {
    margin-top: 0;
  }
}

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape)  {
  .menu-container {

    ul {
      margin-top: 0;
      padding-top: 65px;
    }

    li a {
      font-size: 1.5em;
      line-height: 1.75em;
    }
  }

  .icon-container {
    bottom: 10px;
  }
}