.menu-container {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 250px;
  border-left: solid 1px #efefef;
  background-color: #fff;
  transition-duration: 1s;
  transform: translateX(250px);

  ul {
    margin-top: 35px;
    padding-top: 60%;
    list-style: none;
  }

  li a {
    font-size: 2em;
    line-height: 2em;
  }

  a {
    text-decoration: none;
    color: #373737;
  }
}

.menu-container.open {
  transition-duration: 1s;
  transform: translateX(0px);
}

.icon-container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;

  a {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.75em;
  }
}