 #menu-side-wrapper {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: #000;
  opacity: .5;
  transition-duration: 1s;
 }

 .open-menu #menu-side-wrapper {
  cursor: pointer;
  width: calc(100vw - 250px);
  transition-duration: 1s;
 }

.menu-container {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 250px;
  border-left: solid 1px #efefef;
  background-color: #fff;
  transition-duration: 1s;
  transform: translateX(250px);

  ul {
    margin-top: 35px;
    padding-top: 60%;
    padding-left: 30px;
    list-style: none;
  }

  li a {
    font-size: 2em;
    line-height: 2em;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: #373737;
  }

  a:hover {
    color: #0f89e2de;
  }
}

.open-menu .menu-container {
  transition-duration: 1s;
  transform: translateX(0px);
}

.icon-container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;

  a {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.75em;
  }
}