$header-height: 50px;

$hover-color: #00a2d5;
$button-color: #343434;

#maximum-layout-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .content-holder {
    overflow: auto;
    float: left;
    height: calc(100% - #{$header-height});
    width: 100%;
    margin-top: $header-height;
  }

  .blog-image {
    height: 100%;
    width: 40%;
    float: left;
    background-size: cover;
  }

  .blog-image.min {
    transform: scale(.8, .8);
  }

  .blog-holder {
    overflow: hidden;
    height: 100%;
    width: 60%;
    float: left;
    color: #000;

    .blog-wrapper {
      overflow: auto;
      height: 100%;
      padding: 0 12%;
      padding-top: 50px;
    }

    h1 {
      font-size: 4em;
    }

    .blog-content {
      margin: 0;
      font-size: 1.15em;
      line-height: 1.75em;

      .content {
        display: none;
      }
    }

    button {
      padding: 0;
      border: 0;
      margin-top: 42px;
      background: none;
      color: $button-color;
      font-size: 1.25em;
      cursor: pointer;

      div {
        height: 7px;
        width: 7px;
        margin-top: 9px;
        margin-left: 15px;
        float: right;
        border-top: 1px solid $button-color;
        border-right: 1px solid $button-color;
        transform: rotate(45deg);
      }
    }

    button:focus,
    button:hover {
      outline: none;
    }

    button:hover {
      color: $hover-color;
    }

    button:hover div {
      border-color: $hover-color;
    }

  }
}