#sites-container {
  width: inherit;
  padding: 0 10px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
  color: #373737; }
  #sites-container h1 {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 25px;
    font-size: 2.5em;
    text-align: center; }
    #sites-container h1 a {
      text-decoration: none;
      color: #373737; }
    #sites-container h1 a:hover {
      color: #0f89e2de; }
  #sites-container ul {
    padding-left: 0;
    margin-bottom: 50px;
    list-style: none;
    text-align: center; }
  #sites-container li {
    display: inline-block;
    padding-left: 7.5px;
    padding-right: 7.5px; }
    #sites-container li button {
      padding: 5px 20px;
      border: none;
      border-radius: 5px;
      background-color: #f3f3f3;
      font-size: 1.25em;
      text-transform: capitalize;
      cursor: pointer;
      outline: none; }
    #sites-container li button:hover {
      color: #0f89e2de; }
  #sites-container li.active button {
    color: #0f89e2de; }

.sites-section {
  display: grid;
  grid-template-columns:  31.4% 31.4% 31.4%;
  grid-gap: 30px;
  width: 90%;
  margin: 0 auto; }

.sites-item {
  position: relative;
  display: block;
  float: left;
  width: 100%; }
  .sites-item .item-overlay {
    display: none; }
  .sites-item .item-image {
    box-shadow: 1px 3px 12px 0 rgba(0, 0, 0, 0.11); }
  .sites-item img {
    display: block;
    width: 100%; }

.sites-item:hover .item-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.86);
  text-align: center;
  font-size: 1.5em;
  cursor: pointer; }

/* Mobile */
@media only screen and (max-device-width: 740px) {
  .sites-section {
    grid-template-columns:  100%; }
  #sites-container li button {
    background-color: #ddd;
    margin-bottom: 15%; }
  #sites-container li button:hover {
    color: #fff;
    background-color: #0f89e2de; } }

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  .sites-section {
    width: 50%; } }

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .sites-section {
    grid-template-columns:  47.4% 47.4%; } }
