$text-color: #373737;
$hover-text-color: #0f89e2de;
$background-color: #f3f3f3;
$item-background-color: #fff;

@function build-grid-columns($column-width, $column-count) {
  $grid-column: "";
  @for $i from 0 to $column-count {
    $grid-column: $grid-column + " " + $column-width;
  }
  @return unquote($grid-column);
}

#osp-container {
  padding: 75px 0;
  background-color: $background-color;

  header h1 {
    padding-bottom: 75px;
    margin: 0;
    text-align: center;

    a {
      text-decoration: none;
      color: $text-color;
    }

    a:hover {
      color: $hover-text-color;
    }
  }
}

#osp-wrapper {
  display: grid;
  grid-template-columns: build-grid-columns(31.4%, 3);
  grid-gap: 30px;
  width: 80%;
  margin: 0 auto;

  .item {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: $item-background-color;
    color: $text-color;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      font-size: 1.5em;
    }

    a {
      color: $text-color;
      font-size: 1.75em;
      text-decoration: none;
    }

    a:hover {
      color: $hover-text-color;
    }
  }
}

/* Mobile Portrait */
@media only screen and (max-device-width: 740px) and (orientation: portrait) {
  #osp-wrapper {
    grid-template-columns: build-grid-columns(100%, 1);
  }
}

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  #osp-wrapper {
    grid-template-columns: build-grid-columns(100%, 1);
    width: 50%;
  }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #osp-wrapper {
    grid-template-columns: build-grid-columns(47.4%, 2);
  }
}