/* Arrow */
/* Placeholder */
@font-face {
  font-family: 'wws-icons';
  src: url("/fonts/worldwide-stories/icomoon.eot");
  src: url("/fonts/worldwide-stories/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/worldwide-stories/icomoon.ttf") format("truetype"), url("/fonts/worldwide-stories/icomoon.woff") format("woff"), url("/fonts/worldwide-stories/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Icons */
.icon-globe:before {
  content: "\e900"; }

.icon-book:before {
  content: "\e91f"; }

.icon-bookmark:before {
  content: "\e9d2"; }

.icon-share:before {
  content: "\ea82"; }

#worldwide-stories-container {
  padding-top: 50px; }
  #worldwide-stories-container .row {
    position: relative;
    display: flex;
    flex-wrap: wrap; }
  #worldwide-stories-container .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  #worldwide-stories-container .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  #worldwide-stories-container .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  #worldwide-stories-container .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  #worldwide-stories-container .text-center {
    text-align: center; }
  #worldwide-stories-container .text-right {
    text-align: right; }
  #worldwide-stories-container .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem; }
  #worldwide-stories-container .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
  #worldwide-stories-container .form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem; }
  #worldwide-stories-container .header {
    height: calc(100vh - 178px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  #worldwide-stories-container .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000a6; }
    #worldwide-stories-container .title-section h1 {
      margin-top: 0;
      margin-bottom: 20px;
      color: white;
      font-family: sans-serif;
      font-size: 3em;
      font-weight: 500; }
    #worldwide-stories-container .title-section p {
      margin: 0;
      color: #ca3030;
      font-family: sans-serif;
      font-size: 1.75em; }
  #worldwide-stories-container .arrow-down-section {
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: center;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    background-color: #ca3030; }
    #worldwide-stories-container .arrow-down-section div {
      height: 15px;
      width: 15px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      margin-top: 17px;
      transform: rotate(-45deg); }
  #worldwide-stories-container .app-download-section {
    background-color: #ca3030; }
    #worldwide-stories-container .app-download-section h3 {
      height: 128px;
      line-height: 128px;
      margin: 0;
      padding-right: 30px;
      color: white;
      font-size: 2.25em;
      font-weight: 500; }
    #worldwide-stories-container .app-download-section .play-icon-holder {
      display: flex;
      align-items: center;
      height: 128px; }
    #worldwide-stories-container .app-download-section img {
      height: 58px; }
  #worldwide-stories-container .feature-section {
    padding-top: 100px; }
    #worldwide-stories-container .feature-section .image-section {
      height: 410px;
      overflow-y: hidden; }
      #worldwide-stories-container .feature-section .image-section img {
        height: 625px;
        width: 344.28px; }
    #worldwide-stories-container .feature-section .text-section p {
      width: 75%;
      padding-top: 20px;
      margin-top: 0;
      color: #858585;
      text-align: left;
      font-size: 1.5em;
      line-height: 34.4px; }
  #worldwide-stories-container .feature-section:nth-child(even) {
    border-top: 1px solid #e0e0e0;
    background-color: #f4f4f4; }
    #worldwide-stories-container .feature-section:nth-child(even) .image-section {
      padding-left: 90px; }
    #worldwide-stories-container .feature-section:nth-child(even) .text-section {
      padding-left: 8%; }
    #worldwide-stories-container .feature-section:nth-child(even) .text-section p {
      width: 78%; }
  #worldwide-stories-container .title-icon-section {
    height: 40px; }
    #worldwide-stories-container .title-icon-section span, #worldwide-stories-container .title-icon-section h2 {
      float: left;
      line-height: 40px; }
    #worldwide-stories-container .title-icon-section span {
      color: #ca3030;
      font-family: 'wws-icons';
      font-size: 2em; }
    #worldwide-stories-container .title-icon-section h2 {
      margin: 0;
      padding-left: 12px;
      font-family: sans-serif;
      font-weight: 500;
      font-size: 2rem; }
  #worldwide-stories-container .newsletter-section {
    background-repeat: repeat; }
    #worldwide-stories-container .newsletter-section .tint {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      width: 100%;
      background-color: #ae0f0fba; }
  #worldwide-stories-container .middle-section {
    height: inherit;
    padding-top: 100px;
    padding-bottom: 100px; }
    #worldwide-stories-container .middle-section .download-message {
      color: white;
      font-family: sans-serif;
      font-size: 1.65em; }
    #worldwide-stories-container .middle-section img {
      height: 65px; }
    #worldwide-stories-container .middle-section p, #worldwide-stories-container .middle-section .form-group {
      margin-bottom: 30px; }
    #worldwide-stories-container .middle-section .panel {
      border-radius: 10px;
      margin-top: 60px;
      background-color: #f4f4f4; }
    #worldwide-stories-container .middle-section .panel-body {
      padding-top: 45px;
      padding-right: 30px;
      padding-bottom: 45px;
      padding-left: 30px; }
    #worldwide-stories-container .middle-section .newsletter-message {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 0;
      font-size: 1.75em; }
    #worldwide-stories-container .middle-section input {
      height: 65px;
      font-size: 1.25em;
      text-indent: 10px; }
    #worldwide-stories-container .middle-section button[type="submit"] {
      width: 100%;
      padding-top: 12px;
      padding-right: 24px;
      padding-bottom: 12px;
      padding-left: 24px;
      background-color: #ca3030;
      font-size: 1.5em;
      cursor: pointer; }
    #worldwide-stories-container .middle-section button[type="submit"]:focus,
    #worldwide-stories-container .middle-section button[type="submit"]:hover,
    #worldwide-stories-container .middle-section input:focus,
    #worldwide-stories-container .middle-section input:hover {
      outline: none; }
  #worldwide-stories-container #newsletter .form-group.left {
    padding-right: 10px; }
  #worldwide-stories-container #newsletter .form-group.right {
    padding-left: 10px; }
  #worldwide-stories-container #newsletter.success input {
    border: none;
    background-color: #f9fcf6 !important;
    color: #85c446;
    box-shadow: inset 0 0 0 1px rgba(133, 196, 70, 0.5); }
  #worldwide-stories-container #newsletter.success button[type="submit"] {
    background-color: #85c446;
    border-color: #85c446; }
  #worldwide-stories-container #newsletter.error input {
    border: none;
    background-color: #fff5f4 !important;
    color: #fd3c2b;
    box-shadow: inset 0 0 0 1px rgba(253, 60, 43, 0.5); }
