$lightred-color: #ca3030;
$light-gray-color: #f4f4f4;
$semi-dark: #000000a6;

/* Arrow */
$down-holder-size: 53px;
$arrow-down-size: 15px;
$arrow-border-style: 3px solid white;

/* Placeholder */
$input-text-size: 1.25em;

@font-face {
  font-family: 'wws-icons';
  src:  url('/fonts/worldwide-stories/icomoon.eot');
  src:  url('/fonts/worldwide-stories/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/worldwide-stories/icomoon.ttf') format('truetype'),
    url('/fonts/worldwide-stories/icomoon.woff') format('woff'),
    url('/fonts/worldwide-stories/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Icons */
.icon-globe:before {
  content: "\e900";
}
.icon-book:before {
  content: "\e91f";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-share:before {
  content: "\ea82";
}

@mixin height-pair($size) {
	height: $size;
	line-height: $size;
}

#worldwide-stories-container {
  padding-top: 50px;

  .row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }

  .header {
    height: calc(100vh - 178px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $semi-dark;

    h1 {
      margin-top: 0;
      margin-bottom: 20px;
      color: white;
      font-family: sans-serif;
      font-size: 3em;
      font-weight: 500;
    }
  
    p {
      margin: 0;
      color: $lightred-color;
      font-family: sans-serif;
      font-size: 1.75em;
    }
  }
  
  .arrow-down-section {
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: center;
    height: $down-holder-size;
    width: $down-holder-size;
    border-radius: 50%;
    background-color: $lightred-color;
  
    div {
      height: $arrow-down-size;
      width: $arrow-down-size;
      border-left: $arrow-border-style;
      border-bottom: $arrow-border-style;
      margin-top: 17px;
      transform: rotate(-45deg);
    }
  }

  .app-download-section {
    background-color: $lightred-color;
  
    h3 {
      @include height-pair(128px);
      margin: 0;
      padding-right: 30px;
      color: white;
      font-size: 2.25em;
      font-weight: 500;
    }
  
    .play-icon-holder {
      display: flex;
      align-items: center;
      height: 128px;
    }
  
    img {
      height: 58px;
    }
  }

  .feature-section {
    padding-top: 100px;
  
    .image-section {
      height: 410px;
        overflow-y: hidden;
  
      img {
        height: 625px;
          width: 344.28px;
      }
    }
  
    .text-section p {
      width: 75%;
      padding-top: 20px;
      margin-top: 0;
      color: #858585;
      text-align: left;
      font-size: 1.5em;
      line-height: 34.4px;
    }
  }
  
  .feature-section:nth-child(even) {
    border-top: 1px solid #e0e0e0;
    background-color: $light-gray-color;
  
    .image-section {
      padding-left: 90px;
    }
  
    .text-section {
        padding-left: 8%;
    }
  
    .text-section p {
      width: 78%;
    }
  }

  .title-icon-section {
    height: 40px;

    span, h2 {
      float: left;
      line-height: 40px;
    }

    span {
      color: $lightred-color;
      font-family: 'wws-icons';
      font-size: 2em;
    }

    h2 {
      margin: 0;
      padding-left: 12px;
      font-family: sans-serif;
      font-weight: 500;
      font-size: 2rem;
    }
  }

  .newsletter-section {
    background-repeat: repeat;
  
    .tint {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      width: 100%;
      background-color: #ae0f0fba;
    }
  }
  .middle-section {
    height: inherit;
    padding-top: 100px;
    padding-bottom: 100px;
  
    .download-message {
      color: white;
      font-family: sans-serif;
      font-size: 1.65em;
    }
  
    img {
      height: 65px;
    }
  
    p, .form-group {
      margin-bottom: 30px;
    }
  
    .panel {
      border-radius: 10px;
      margin-top: 60px;
      background-color: $light-gray-color;
    }
  
    .panel-body {
      padding-top: 45px;
      padding-right: 30px;
        padding-bottom: 45px;
        padding-left: 30px;
    }
  
    .newsletter-message {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
        font-size: 1.75em;
    }
  
    input {
      height: 65px;
      font-size: $input-text-size;
      text-indent: 10px;
    }
  
    button[type="submit"] {
      width: 100%;
      padding-top: 12px;
      padding-right: 24px;
      padding-bottom: 12px;
      padding-left: 24px;
      background-color: $lightred-color;
      font-size: 1.5em;
      cursor: pointer;
    }
  
    button[type="submit"]:focus, 
    button[type="submit"]:hover,
    input:focus,
    input:hover {
      outline: none;
    }
  }

  #newsletter .form-group.left {
    padding-right: 10px;
  }

  #newsletter .form-group.right {
    padding-left: 10px;
  }

  #newsletter.success {
    input {
      border: none;
        background-color: #f9fcf6 !important;
        color: #85c446;
        box-shadow: inset 0 0 0 1px rgba(133,196,70,.5);
    }
  
    button[type="submit"] {
      background-color: #85c446;
      border-color: #85c446;
    }
  }
  
  #newsletter.error {
    input {
      border: none;
        background-color: #fff5f4 !important;
        color: #fd3c2b;
        box-shadow: inset 0 0 0 1px rgba(253,60,43,.5);
    }
  }

  .footer {
    height: 45px;
    background-color: #3b0100;
  
    div {
      overflow-y: hidden;
    }

    .copyright-holder {
      float: left;
      width: 50%;
    }
    .contact-holder {
      float: right;
      width: 50%;
      text-align: right;
    }
  
    p,
    a {
      margin: 0;
      color: white;
      font-size: 1.25em;
      line-height: 45px;
    }

    p {
      padding-left: 20px;
    }
  
    a {
      text-decoration: none;
      padding-right: 20px;
    }
  }
}

/* Mobile */
@media only screen and (max-device-width: 740px) {

}

/* Mobile Portrait */
@media only screen and (max-device-width: 740px) and (orientation: portrait) {

}

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape) {

}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #worldwide-stories-container {
    .app-download-section h3 {
      font-size: 1.25em;
    }

    .app-download-section .play-icon-holder {
      flex: 0 0 26.333333%;
    }

    .app-download-section .col-md-8 {
      flex: 0 0 71.666667%;
      max-width: 71.666667%;
    }

    .feature-section .text-section p {
      width: 95% !important;
      font-size: 1.35em;
    }

    .feature-section:nth-child(even) .image-section {
      padding-left: 15px;
    }

    .middle-section {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}