$primary-color: #373737;
$secondary-color: #0f89e2de;
$bread-crumb-section-height: 50px;
$dot-size: 15px;
$arrow-section-height: 300px;
$arrow-size: 25px;

#blog-container {
  position: relative;
  overflow-x: hidden;
  display: inline-block;
  padding: 75px 0;

  .title {
    text-align: center;

    h1 {
      margin: 0;
      margin-bottom: 75px;
    }

    a {
      text-decoration: none;
      color: $primary-color;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  .blog-sides-wrapper {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .blog-sections {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: inherit;
    width: 50%;
    float: left;
  }

  .arrow-section {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: $arrow-section-height;
    width: 50px;
    margin: auto;
    cursor: pointer;
  }

  .arrow {
    height: $arrow-size;
    width: $arrow-size;
    margin-top: $arrow-section-height / 2 - $arrow-size;
    transform: rotate(45deg);
  }

  .arrow-section.left {
    left: 0;

    .arrow {
      margin-left: $arrow-size * 0.66;
      border-left: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }

  .arrow-section.right {
    right: 0;

    .arrow {
      margin-left: $arrow-size * 0.22;
      border-top: 2px solid $primary-color;
      border-right: 2px solid $primary-color;
    }
  }

  .arrow-section:hover .arrow {
    border-color: $secondary-color;
  }



  .bread-crumbs {
    position: relative;
    display: inline-block;
    height: $bread-crumb-section-height;
    width: 100%;
    margin-top: 50px;
  }

  .dot-section {
    width: $dot-size * 5;
    margin: ($bread-crumb-section-height/2 - $dot-size/2) auto;
  }

  .dot {
    float: left;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
    margin: 0 5px;
    background-color: $primary-color;
    cursor: pointer;
  }

  .dot:hover,
  .dot.active {
    background-color: $secondary-color;
  }

  .view-page-btn {
    height: 50px;
    width: 100%;
    text-align: center;

    a {
      color: $primary-color;
      text-decoration: none;
      display: inline-block;
    }

    a:hover {
      color: $secondary-color;
    }
  }
}

#blog-left-section {
  color: $primary-color;

  .pad {
    padding-left: 25%;
    padding-right: 5%;
  }

  h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 100;
  }

  p {
    margin: 35px 0;
    font-size: 1.1em;
    line-height: 1.25em;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  button {
    padding: 12px 24px;
    border: none;
    font-size: 1em;
    color: white;
    background-color: $primary-color;
  }

  button:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}

#blog-right-section {
  .pad {
    padding-left: 5%;
    padding-right: 10%;
  }

  img {
    max-width: 100%;
  }
}

#blog-eraser {
  position: absolute;
  right: 0;
  height: 345px;
  width: 0%;
  margin-top: -15px;
  background-color: white;
}

/* Mobile */
@media only screen and (max-device-width: 740px) {
  #blog-container {
    padding: 50px 0;

    .blog-sections {
      height: inherit;
      width: 100%;

      .pad {
        padding: 0 10%;
      }
    }

    .arrow-section {
      width: 30px;

      .arrow {
        height: 15px;
        width: 15px;
      }
    }

    .arrow-section.left .arrow {
      margin-left: 8.5px;
    }

    .bread-crumbs {
      margin-top: 25px;
    }
  }

  #blog-left-section {
    padding-bottom: 35px;
  }
}

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #blog-left-section .pad {
    padding-left: 15%;
  }

  #blog-right-section .pad {
    padding-left: 0%;
    padding-right: 15%;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #blog-left-section .pad {
    padding-left: 20%;
  }

  #blog-right-section .pad {
    padding-left: 0%;
    padding-right: 15%;
  }
}