#blog-container {
  position: relative;
  display: inline-block;
  padding: 75px 0; }
  #blog-container .title {
    text-align: center; }
    #blog-container .title h1 {
      margin: 0;
      margin-bottom: 75px; }
    #blog-container .title a {
      text-decoration: none;
      color: #373737; }
    #blog-container .title a:hover {
      color: #0f89e2de; }
  #blog-container .blog-sections {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 300px;
    width: 50%;
    float: left; }
  #blog-container .arrow-section {
    position: absolute;
    top: -100px;
    bottom: 0;
    height: 300px;
    width: 50px;
    margin: auto;
    cursor: pointer; }
  #blog-container .arrow {
    height: 25px;
    width: 25px;
    margin-top: 125px;
    transform: rotate(45deg); }
  #blog-container .arrow-section.left {
    left: 0; }
    #blog-container .arrow-section.left .arrow {
      margin-left: 16.5px;
      border-left: 2px solid #373737;
      border-bottom: 2px solid #373737; }
  #blog-container .arrow-section.right {
    right: 0; }
    #blog-container .arrow-section.right .arrow {
      margin-left: 5.5px;
      border-top: 2px solid #373737;
      border-right: 2px solid #373737; }
  #blog-container .arrow-section:hover .arrow {
    border-color: #0f89e2de; }
  #blog-container .bread-crumbs {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 100%;
    margin-top: 50px; }
  #blog-container .dot-section {
    width: 75px;
    margin: 17.5px auto; }
  #blog-container .dot {
    float: left;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #373737;
    cursor: pointer; }
  #blog-container .dot:hover,
  #blog-container .dot.active {
    background-color: #0f89e2de; }
  #blog-container .view-page-btn {
    height: 50px;
    width: 100%;
    text-align: center; }
    #blog-container .view-page-btn a {
      color: #373737;
      text-decoration: none;
      display: inline-block; }
    #blog-container .view-page-btn a:hover {
      color: #0f89e2de; }

#blog-left-section {
  color: #373737; }
  #blog-left-section .pad {
    padding-left: 25%;
    padding-right: 5%; }
  #blog-left-section h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 100; }
  #blog-left-section p {
    margin: 35px 0;
    font-size: 1.1em;
    line-height: 1.25em; }
  #blog-left-section a {
    text-decoration: none;
    display: inline-block; }
  #blog-left-section button {
    padding: 12px 24px;
    border: none;
    font-size: 1em;
    color: white;
    background-color: #373737; }
  #blog-left-section button:hover {
    cursor: pointer;
    background-color: #0f89e2de; }

#blog-right-section .pad {
  padding-left: 5%;
  padding-right: 10%; }

#blog-right-section img {
  max-width: 100%; }

/* Mobile */
@media only screen and (max-device-width: 740px) {
  #blog-container {
    padding: 50px 0; }
    #blog-container .blog-sections {
      height: inherit;
      width: 100%; }
      #blog-container .blog-sections .pad {
        padding: 0 10%; }
    #blog-container .arrow-section {
      display: none; }
    #blog-container .bread-crumbs {
      margin-top: 25px; }
  #blog-left-section {
    padding-bottom: 35px; } }

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #blog-left-section .pad {
    padding-left: 15%; }
  #blog-right-section .pad {
    padding-left: 0%;
    padding-right: 15%; } }

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #blog-left-section .pad {
    padding-left: 20%; }
  #blog-right-section .pad {
    padding-left: 0%;
    padding-right: 15%; } }
