footer {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  height: 50px;
  padding: 0 2%;
  background-color: #fff; }
  footer h2 {
    margin: 0;
    color: #181818;
    font-size: 1em;
    font-weight: 100;
    line-height: 50px; }
  footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; }
    footer ul li:not(:first-child) {
      margin-left: 5%; }
    footer ul li a {
      color: #181818;
      text-decoration: none;
      font-size: 1.15em;
      text-transform: capitalize; }
    footer ul li a:hover {
      color: #0071c5; }
  footer span {
    color: #0071c5; }
  footer .icon-container {
    text-align: right; }
    footer .icon-container a {
      padding: 0 5px;
      font-size: 1.5em;
      line-height: 50px;
      text-decoration: none;
      color: #181818; }
    footer .icon-container a:hover {
      color: #0071c5; }

/* Mobile */
@media only screen and (max-device-width: 740px) {
  footer {
    grid-template-columns: 1fr; }
    footer h2 {
      order: 2;
      grid-row: 2; }
    footer ul {
      order: 1;
      grid-column: 1 / 3; }
    footer .icon-container {
      order: 2;
      grid-row: 2; } }
