#lab-container {
  padding: 100px 0;
  background-color: #181818;
  color: white; }
  #lab-container header h1 {
    margin: 0;
    text-align: center; }
    #lab-container header h1 a {
      text-decoration: none;
      color: #fff; }
    #lab-container header h1 a:hover {
      color: #35a2f2; }

#carousel-container {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 100%; }
  #carousel-container .floating-item {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  #carousel-container .hidden-item {
    height: 50px;
    width: 100px;
    background-color: #0075fc; }
  #carousel-container .hidden-item.left {
    left: calc(-100% - 100px);
    right: 0; }
  #carousel-container .hidden-item.right {
    left: 0;
    right: calc(-100% - 100px); }
  #carousel-container .side-item {
    height: 250px;
    width: 400px;
    background-color: #5f5f5f;
    cursor: pointer;
    outline: none; }
  #carousel-container .side-item.left {
    left: -100%;
    right: 0; }
  #carousel-container .side-item.right {
    left: 0;
    right: -100%; }
  #carousel-container .main-item {
    left: 0;
    right: 0;
    height: 400px;
    width: 600px;
    background-color: #100c15; }

.carousel-middle-details {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%; }
  .carousel-middle-details h1,
  .carousel-middle-details p {
    margin-left: -10.5%; }
  .carousel-middle-details h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em; }
  .carousel-middle-details p {
    font-size: 1em; }

/* Mobile Portrait */
@media only screen and (max-device-width: 740px) and (orientation: portrait) {
  #lab-container {
    height: inherit; }
  #carousel-container .main-item {
    height: 47.667%;
    width: 77.4989%; }
  #carousel-container .side-item.left {
    left: -400px; }
  #carousel-container .side-item.right {
    right: -400px; } }

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  #lab-container {
    height: inherit; }
  #carousel-container {
    height: 379px; }
    #carousel-container .side-item.left {
      left: -300px; }
    #carousel-container .side-item.right {
      right: -300px; } }

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #carousel-container .side-item.left {
    left: -250px; }
  #carousel-container .side-item.right {
    right: -250px; } }
