.blog-layout-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;

  a {
    text-decoration: none !important;
  }

  .content-holder {
    overflow: auto;
    float: left;
    height: calc(100% - #{$header-height});
    width: 100%;
    margin-top: $header-height;
  }

  .blog-image {
    height: 100%;
    width: 40%;
    float: left;
    background-size: cover;
  }

  .blog-image.min {
    transform: scale(.8, .8);
  }

  .blog-holder {
    overflow: hidden;
    height: 100%;
    width: 60%;
    float: left;
    color: $black-color-1;

    .blog-wrapper {
      overflow: auto;
      height: 93.5%;
      padding: 0 12%;
      padding-top: 50px;
    }

    h1 {
      font-size: 4em;
    }

    .blog-content {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.75em;

      .content {
        display: none;
      }

      .content-section {
        padding: 10px 0;

        .list-holder li {
          padding: 5px 0;
        }

        .num-list {
          list-style: decimal;
        }
      }
    }

    button.read-more {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      border-radius: 5px;
      border: 0;
      margin-top: 42px;
      font-size: 1.45rem;
      font-family: inherit;
      font-weight: 600;
      color: $black-color-1;
      background-color: #e6e6e6;
      cursor: pointer;
    }

    button:focus,
    button:hover {
      outline: none;
    }

    button.read-more:hover {
      color: #e6e6e6;
      background-color: $black-color-1;
    }

    .arrow-container {
      position: absolute;
      height: 65px;
      width: 165px;
      bottom: 0;
      right: 0;
      background-color: #e6e6e6;

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        float: left;
        background: transparent;
        border: 0;
        cursor: pointer;
      }

      .left-arrow {
        border-right: 1px solid #fff;
      }

      .icon {
        height: 40px;
        width: 40px;

        svg {
          fill: $black-color-1;
        }
      }

      .arrow:hover {
        background-color: $black-color-1;

        .icon svg {
          fill: #fff;
        }
      }

      .close {
        display: none;
      }
    }

    .arrow-container.expanded {
      right: 18px;
    }

    .arrow-container.closed {
      right: 17px;
      width: 82.5px;

      .arrow {
        display: none;
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        float: left;
        background: transparent;
        border: 0;
        cursor: pointer;
      }

      .icon {
        height: 32px;
        width: 32px;

        svg {
          fill: $black-color-1;
        }
      }

      .close:hover {
        background-color: $black-color-1;

        .icon svg {
          fill: #fff;
        }
      }

    }

  }
}

/* Mobile */
@include semi-mobile {
  .blog-layout-container .blog-holder {
    .arrow-container.closed {
      right: 0;
    }
  }
}

/* Mobile Portrait */
@include semi-mobile-portrait {
  .blog-layout-container {
    .blog-image {
      height: 75%;
      width: 100%;
    }

    .blog-holder {
      overflow: visible;
      height: initial;
      width: 100%;
      padding-bottom: 50px;

      .arrow-container {
        opacity: .75;
      }

      h1 {
        font-size: 2em;
      }

      .blog-wrapper {
        overflow: visible;
        padding: 0 5%;
      }
    }
  }
}

/* Mobile Landscape */
@include semi-mobile-landscape {
  .blog-layout-container {
    .blog-image {
      height: 100%;
      width: 40%;
    }

    .blog-holder {
      width: 60%;

      .arrow-container {
        opacity: .75;
      }

      h1 {
        font-size: 2em;
      }

      .blog-wrapper {
        height: 100%;
        padding: 0 5%;
      }

      .blog-content {
        font-size: 1em;
      }

      button.read-more {
        margin-top: 24px;
      }
    }
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 768px) {
  .blog-layout-container .blog-holder .arrow-container.closed {
    right: 0;
  }
}

/* Tablet Portrait */
@include tablet-portrait {
  .blog-layout-container {
    .blog-image {
      height: 30%;
      width: 100%;
    }

    .blog-holder {
      width: 100%;
    }
  }
}