#carousel-container {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 100%;
  background-color: rgba(58, 58, 58, 0.09); }
  #carousel-container .floating-item {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  #carousel-container .hidden-item {
    height: 50px;
    width: 100px;
    background-color: #0075fc; }
  #carousel-container .hidden-item.left {
    left: -100px; }
  #carousel-container .hidden-item.right {
    right: -100px; }
  #carousel-container .side-item {
    height: 250px;
    width: 400px;
    background-color: #5f5f5f; }
  #carousel-container .side-item.left {
    left: -200px; }
  #carousel-container .side-item.right {
    right: -200px; }
  #carousel-container .main-item {
    left: 0;
    right: 0;
    height: 66.667%;
    width: 47.4989%;
    background-color: #100c15; }

#details {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%; }
  #details h1,
  #details p {
    margin-left: -10.5%; }
  #details h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em; }
  #details p {
    font-size: 1em; }

#bread-crumbs {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%; }
  #bread-crumbs .hexagon {
    left: 0;
    right: 0;
    width: 20px;
    margin: auto; }
    #bread-crumbs .hexagon .triangle {
      height: 0;
      width: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent; }
    #bread-crumbs .hexagon .triangle.top {
      border-bottom: 6px solid #999; }
    #bread-crumbs .hexagon .triangle.bottom {
      border-top: 6px solid #999; }
    #bread-crumbs .hexagon .square.middle {
      height: 7.3077px;
      width: 16px;
      background-color: #999; }
  #bread-crumbs .hexagon.active .triangle.top {
    border-bottom-color: #00f6ff; }
  #bread-crumbs .hexagon.active .triangle.bottom {
    border-top-color: #00f6ff; }
  #bread-crumbs .hexagon.active .square.middle {
    background-color: #00f6ff; }

/* Mobile Portrait */
@media only screen and (max-device-width: 740px) and (orientation: portrait) {
  #lab-container {
    height: inherit; }
  #carousel-container .main-item {
    height: 47.667%;
    width: 77.4989%; }
  #carousel-container .side-item.left {
    left: -400px; }
  #carousel-container .side-item.right {
    right: -400px; } }

/* Mobile Landscape */
@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  #lab-container {
    height: inherit; }
  #carousel-container {
    height: 379px; }
    #carousel-container .side-item.left {
      left: -300px; }
    #carousel-container .side-item.right {
      right: -300px; } }

/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #carousel-container .side-item.left {
    left: -250px; }
  #carousel-container .side-item.right {
    right: -250px; } }
