#lab-container {
  padding: 100px 0;
  background-color: #181818;
  color: white; }
  #lab-container header h1 {
    margin: 0;
    text-align: center; }
    #lab-container header h1 a {
      text-decoration: none;
      color: #fff; }
    #lab-container header h1 a:hover {
      color: #35a2f2; }
