.online-store-wrapper {
  padding-top: $header-height;

  a {
    text-decoration: none;
  }

  header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    padding: 0px 25px;
    box-sizing: border-box;

    .mobile-menu-wrapper {
      display: none;
    }

    .logo-nav-wrapper {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-right: 30px;

      h3 {
        margin: 0;
        font-size: 1.5rem;
      }
    }

    nav {
      text-align: center;

      a {
        padding: 0 5px;
        margin-right: 10px;
        font-size: 1.15rem;
      }

      a.active {
        color: #3366ff;
        font-weight: 500;
      }

      a:hover {
        color: #3366ff;
      }
    }

    .side {
      display: flex;
      justify-content: space-between;
    }

    .search-wrapper {
      display: flex;
      height: 32px;
      width: calc(100% - 42px);
      align-items: center;
      justify-content: flex-end;

      input {
        height: 100%;
        width: 0%;
        border: none;
        padding: 0;
        transition: width 1s;
        background-color: #eeeeee;
        text-indent: 10px;
        font-size: 1.15rem;
      }

      .btn {
        padding: 0 10px;
        height: 100%;
        transition: background-color 1s;
        background-color: transparent;
      }

      .icon {
        height: 20px;
        width: 20px;
      }
    }

    .btn:hover {
      svg {
        fill: #3366ff;
      }
    }

    .search-wrapper:hover,
    .search-wrapper:focus {
      input {
        width: 50%;
        outline: none;
      }

      .btn {
        background-color: #eeeeee;
      }
    }

    .shop-btn {
      height: 32px;
      padding: 0 10px;
      background-color: transparent;

      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .upper-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2vmin;
    max-width: 800px;
    margin: 25px auto 50px;

    .item {
      width: 100%;
      background-color: gray;
    }

    .large-item {
      grid-column: span 2;
      height: 300px;
    }

    .small-item {
      height: 200px;
    }
  }

  .lower-content {
    padding: 0 5% 100px;

    .title {
      margin: 25px 0 15px;
  
      h2 {
        font-size: 2rem;
        margin: 0;
      }
    }

    .preview-wrapper {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(300px, .333fr) );
      gap: 0.5vmin;
      background-color: #4d4d4d;

      .item {
        height: 250px;
        width: 100%;
        background-color: gray;
      }
    }
  }
}

@include desktop-lg {
  .online-store-wrapper {
    .upper-content {
      max-width: 900px;

      .large-item {
        height: 350px;
      }
    }
  }
}

@include tablet-landscape {
  .online-store-wrapper {
    header {
      .search-wrapper:hover input,
      .search-wrapper:focus input {
        width: 65%;
      }
    }
  }
}

@include tablet-portrait {
  .online-store-wrapper {
    header {
      position: relative;
      grid-template-columns: 40px 1fr;

      .mobile-menu-wrapper {
        display: block;
      }

      .menu-btn {
        padding: 4px 4px;
        background-color: transparent;
        border: 0;

        .icon {
          height: 32px;
          width: 32px;
        }
      }

      .mobile-menu {
        display: none;
        list-style: none;
        padding: 10px 20px;
        background-color: #f9f9f9;
        position: absolute;
        margin: 5px 0 0;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

        li {
          font-size: 1.5rem;
          padding-bottom: 10px;
        }

        a.active {
          color: #3366ff;
        }

        li:last-child {
          padding-bottom: 0;
        }
      }

      .menu-btn:hover + .mobile-menu,
      .menu-btn:focus + .mobile-menu,
      .mobile-menu:hover,
      .mobile-menu:focus {
        display: block;
      }

      .logo,
      nav {
        display: none;
      }
    }

    .upper-content {
      max-width: 80%;
    }
  }
}

@include tablet-mobile {
  .online-store-wrapper {
    .upper-content {
      max-width: 80%;
    }

    .lower-content .preview-wrapper {
      grid-template-columns: 1fr;
      gap: 1vmin;
    }
  }
}

@include tablet-mobile-landscape {
  .online-store-wrapper {
    .lower-content .preview-wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 1vmin;
    }
  }
}


@include mobile {
  .online-store-wrapper {
    header {
      position: relative;
      grid-template-columns: 40px 1fr;

      .search-wrapper:hover input,
      .search-wrapper:focus input {
        width: 75%;
      }

      .mobile-menu-wrapper {
        display: block;
      }

      .menu-btn {
        padding: 4px 4px;
        background-color: transparent;
        border: 0;

        .icon {
          height: 32px;
          width: 32px;
        }
      }

      .mobile-menu {
        display: none;
        list-style: none;
        padding: 10px 20px;
        background-color: #f9f9f9;
        position: absolute;
        margin: 5px 0 0;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);

        li {
          font-size: 1.5rem;
          padding-bottom: 10px;
        }

        a.active {
          color: #3366ff;
        }

        li:last-child {
          padding-bottom: 0;
        }
      }

      .menu-btn:hover + .mobile-menu,
      .menu-btn:focus + .mobile-menu,
      .mobile-menu:hover,
      .mobile-menu:focus {
        display: block;
      }

      .logo,
      nav {
        display: none;
      }
    }

    .upper-content {
      max-width: 80%;
      grid-template-columns: 1fr;

      .large-item {
        grid-column: 1;
      }

      .small-item {
        height: 150px;
      }
    }

    .lower-content {
      padding: 0 10% 50px;

      .preview-wrapper {
        grid-template-columns: 1fr;
        gap: 1vmin;
      }
    }
  }
}