.online-store-wrapper {
  padding-top: $header-height;

  a {
    text-decoration: none;
  }

  header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    padding: 0px 25px;
    box-sizing: border-box;

    .logo-nav-wrapper {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-right: 30px;

      h3 {
        margin: 0;
        font-size: 1.5rem;
      }
    }

    nav {
      text-align: center;

      a {
        padding: 0 5px;
        margin-right: 10px;
        font-size: 1.15rem;
      }

      a.active {
        color: #3366ff;
        font-weight: 500;
      }

      a:hover {
        color: #3366ff;
      }
    }

    .side {
      display: flex;
      justify-content: space-between;
    }

    .search-wrapper {
      display: flex;
      height: 32px;
      width: calc(100% - 42px);
      align-items: center;
      justify-content: flex-end;

      input {
        height: 100%;
        width: 0%;
        border: none;
        padding: 0;
        transition: width 1s;
        background-color: #eeeeee;
        text-indent: 10px;
        font-size: 1.15rem;
      }

      .btn {
        padding: 0 10px;
        height: 100%;
        transition: background-color 1s;
        background-color: transparent;
      }

      .icon {
        height: 20px;
        width: 20px;
      }
    }

    .btn:hover {
      svg {
        fill: #3366ff;
      }
    }

    .search-wrapper:hover,
    .search-wrapper:focus {
      input {
        width: 50%;
        outline: none;
      }

      .btn {
        background-color: #eeeeee;
      }
    }

    .shop-btn {
      height: 32px;
      padding: 0 10px;
      background-color: transparent;

      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .upper-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2vmin;
    max-width: 800px;
    margin: 25px auto 50px;

    .item {
      width: 100%;
      background-color: gray;
    }

    .large-item {
      grid-column: span 2;
      height: 300px;
    }

    .small-item {
      height: 200px;
    }
  }
}

@include desktop-lg {
  .online-store-wrapper {
    .upper-content {
      max-width: 900px;

      .large-item {
        height: 350px;
      }
    }
  }
}