.about-me-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0;
  background-color: $white-color-3;

  .image-wrapper {
    justify-self: center;
    height: 600px;
    width: 600px;

    svg {
      height: 100%;
      width: 100%;
      filter: drop-shadow(1px 2px 4px rgba(0,0,0,0.25));
    }
  }

  .content-flex-wrapper {
    display: flex;
    align-items: center;
    padding: 0 6% 0 10%;
  }

  .content-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vmin;
  }

  h1 {
    margin: 0px 0 10px;
    font-size: 4.5rem;
    font-weight: 600;
  }

  .description {
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;

      a {
        color: $blue-color-2;
        padding-left: 5px;
      }
    }
  }

  .social-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .icon.github {
    height: 38px;
    width: 38px;
    margin-right: 20px;
  }

  .icon.twitter {
    height: 32px;
    width: 32px;
  }
}

@include desktop-lg {
  .about-me-section {
    padding: 150px 0;

    h4 {
      font-size: 1.75rem;
    }

    .content-flex-wrapper {
      padding: 0 20% 0 0%;
    }

    .description p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

@include desktop-md {
  .about-me-section {
    padding: 150px 0;

    h4 {
      font-size: 1.75rem;
    }

    .description p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

@include mobile {
  .about-me-section {
    grid-template-columns: 1fr;
    padding: 50px 0;

    h1 {
      font-size: 3.5rem;
    }

    h4 {
      font-size: 1.35rem;
    }

    .image-wrapper {
      order: 2;
      height: 300px;
      min-height: 0;
      padding: 0 10%;
    }

    .content-flex-wrapper {
      order: 1;
      padding: 0 10% 35px;
    }
  }
}