.contact-wrapper {
  display: grid;
  justify-items: center;
  position: relative;
  width: 100%;
  padding: 75px 0;
  color: $white-color-1;
  background-color: $black-color-2;

  .center-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    max-width: 1000px;
    width: 100%;
    gap: 5vmin;
  }

  .hide {
    display: none !important;
  }

  .success-message {
    color: #96ff96;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.25rem;
    opacity: 1;
  }

  .error-message {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.25rem;
    color: #ec4a4a;
  }

  .fade-out {
    animation: fadeOut 5s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeOut {
    0% { opacity: 1;}
    25% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
  }

  .inner-wrapper {
    padding: 0 10%;
  }

  .inner-wrapper.left {
    h2 {
      margin-top: 0;
      font-size: 3rem;
      color: $white-color-4;
    }

    form {
      display: grid;
      gap: 3vmin;
    }

    label {
      display: block;
      padding-bottom: 10px;
      font-size: 1.35rem;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      border: none;
      background-color: #1f1f1f;
      color: $white-color-1;
      font-size: 1.5rem;
      font-weight: 400;
      box-sizing: border-box;
    }

    input:focus,
    textarea:focus {
      background-color: #474747;
      outline: none;
    }

    input {
      height: 45px;
      text-indent: 10px;
    }

    textarea {
      height: 150px;
      padding: 10px;
      resize: none;
    }

    .btn {
      opacity: .8;
      border-radius: 5px;
      font-size: 1.75rem;
    }

    .btn:hover {
      opacity: 1;
    }
  }

  .inner-wrapper.right {
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr;
    gap: 5vmin;

    h4 {
      margin: 0 0 12px;
      color: #818181;
      font-size: 1.35rem;
    }

    p {
      margin: 0;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}

@include desktop-lg {
  .contact-wrapper {
    padding: 125px 0;

    .inner-wrapper.right h4 {
      font-size: 1.75rem;
    }
  }
}

@include desktop-md {
  .contact-wrapper {
    padding: 125px 0;

    .inner-wrapper.right h4 {
      font-size: 1.75rem;
    }
  }
}

@include tablet-portrait {
  .contact-wrapper .center-wrapper {
    grid-template-columns: 1fr .75fr;
    gap: 1vmin;
  }
}

@include tablet-mobile {
  .contact-wrapper .center-wrapper {
    grid-template-columns: 1fr .75fr;
    gap: 1vmin;
  }
}

@include mobile {
  .contact-wrapper {
    .center-wrapper {
      grid-template-columns: 1fr;
      gap: 15vmin;
    }

    .inner-wrapper {
      padding: 0 10%;
    }

    .inner-wrapper.left form {
      gap: 6vmin;
    }

    .inner-wrapper.left form .group:last-child {
      text-align: center;
    }

    .inner-wrapper.right {
      text-align: center;
    }
  }
}