.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  padding: 75px 0;
  color: $white-color-1;
  background-color: $black-color-2;

  .inner-wrapper {
    padding: 0 10%;

    h2 {
      font-size: 3rem;
      color: $white-color-4;
    }

    h4 {
      font-size: 1.35rem;
    }

    p {
      font-size: 1.25rem;
    }

    form {
      display: grid;
      gap: 3vmin;
    }

    label {
      display: block;
      padding-bottom: 10px;
      font-size: 1.35rem;
    }

    input {
      display: block;
      height: 45px;
      width: 100%;
      border: none;
      background-color: #343434;
      color: $white-color-1;
      font-size: 1.75rem;
      text-indent: 10px;
    }

    textarea {
      display: block;
      height: 100px;
      width: 100%;
      padding: 10px;
      border: none;
      background-color: #343434;
      color: $white-color-1;
      font-size: 1.75rem;
      resize: none;
    }
  }
}