.landing-screen-wrapper {
  display: grid;
  grid-template-columns: 1fr .75fr;
  padding: 50px 0;
  overflow-x: hidden;

  .text-flex-section {
    display: flex;
    align-items: center;
  }

  .text-grid-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vmin;
    padding: 0 10%;

    h1 {
      margin: 0;
      font-size: 5rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  .visual-section {
    display: flex;
    align-items: center;
    position: relative;
    height: 600px;

    .dark-bkg {
      position: absolute;
      overflow: hidden;
      right: 50px;
      height: 100%;
      width: 85%;
      box-shadow: inset 0px 0px 16px 0px #000;
      border-radius: 50% 30px;
    }
  }
}

@include desktop-lg {
  .landing-screen-wrapper {
    padding: 150px 0;

    .visual-section .dark-bkg {
      // width: 450px;
      right: 65px;
    }


    .text-grid-section h1 {
      font-size: 7rem;
    }

    .text-grid-section p {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
  }
}

@include desktop-md {
  .landing-screen-wrapper {
    padding: 100px 0;

    .text-grid-section p {
      font-size: 1.85rem;
      line-height: 2.75rem;
    }
  }
}

@include tablet {
  .landing-screen-wrapper {
    grid-template-columns: 1fr;
    gap: 5vmin;

    .text-grid-section {
      text-align: center;
    }
  }
}

@include tablet-mobile {
  .landing-screen-wrapper {
    grid-template-columns: 1fr;
    gap: 5vmin;

    .text-grid-section {
      text-align: center;
      padding: 0 6%;

      h1 {
        font-size: 3rem;
        word-break: break-word;
      }
    }

    .visual-section {
      height: 500px;

      .dark-bkg {
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 30px 30px;
      }
    }
  }
}

@include tablet-mobile-landscape {
  .landing-screen-wrapper .visual-section {
    height: calc(100vh - 85px);
  }
}

@include mobile {
  .landing-screen-wrapper {
    grid-template-columns: 1fr;
    gap: 5vmin;

    .text-grid-section {
      text-align: center;
      padding: 0 6%;

      h1 {
        font-size: 3rem;
        word-break: break-word;
      }
    }

    .visual-section {
      height: 500px;

      .dark-bkg {
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 30px 30px;
      }
    }
  }
}

@include mobile-landscape {
  .landing-screen-wrapper .visual-section {
    height: calc(100vh - 85px);
  }
}